.marked {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 12px;
    margin-top: 0;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  h3,
  h2 {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  ul {
    list-style: none;
    margin: 8px 8px 16px 24px;
    padding: 0;
    li {
      display: list-item;
      &::before {
        content: "<<";
        float: left;
        color: $yellow-color;
        font-size: 12px;
        padding-right: 6px;
      }
      ul,
      p {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  img {
    display: none;
  }
  pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 0.8rem;
    line-height: 1rem;
    color: $white-color;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $dark-orange-color;
    border: 1px solid $orange-color;
    border-radius: 4px;
    code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }
  }
}
