$white-color: #fff;
$black-color: rgb(11, 0, 12);
$purple-color: #7700a6;
$dark-purple-color: #230031;
$pink-color: #fe00fe;
$hot-pink-color: #ff1da9;
$yellow-color: #defe47;
$light-blue-color: #00b3fe;
$blue-color: #0016ee;
